
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');
/*/////Global///////*/

a {
  color: RGB(0, 43, 54);
  text-decoration: none;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}

/*//////Main body/////*/
body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  margin: 0;
  background-image: url(/images/bookspicture.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*///////Navbar///////*/
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: #666 2px solid;
  background-color: #f8f8f8;
}

#align-nav {
  float: right;
  text-align: right;
}

/*///////Logo///////*/

#logo {
 float: left;
 margin-left: 5px;
}

/*///////Footer///////*/

footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: #efefef;
   text-align: center;
 }

 /*/////Fixes////*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
