
@import url('https://fonts.googleapis.com/css?family=Courgette|Lato');
/*/////Global///////*/

a {
  color: RGB(0, 43, 54);
  text-decoration: none;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}

.displayleft {
  text-align: left;
}

/*//////Main body/////*/
body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  background-image: url(/images/bookspic.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content {
   display: inline-block;
   margin: 0 auto;
   width: 100%;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 60px;
   padding-top: 10px;
   overflow: auto;
}

/*///////Layout///////*/

.wrapper {
  width: 700px;
  margin: 0 auto;
  background: #eee;
  margin-top: 80px;
  text-align: center;
  z-index: 0;
}

/*///////Navbar///////*/

#align-nav {
  display: block;
  float: right;
  text-align: right;
}

#navbar {
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: #666 2px solid;
  background-color: #f8f8f8;
  z-index: 1;
}

/*///////Logo///////*/

#logo {
  display: block;
 font-family: 'Courgette', cursive;
 float: left;
 margin-left: 5px;
}

/*///////Footer///////*/

#footer {
   font-size: x-small;
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: #efefef;
   text-align: center;
 }

/*/////Button//////*/

.button {
  display: inline-block;
  background-color: #002B36;
  padding: 10px 10px;
  margin: 10px;
  color: white;
}

/*/////form styling//////*/

.form {
  display:block;
  text-align: center;
}

form  {
  text-align: left;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

 /*/////Fixes////*/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
