
<h4>Welcome to Wish and Own, an app made for you to track your items and to make wishlists!
  Sign up or log in to get started! </h4>
<h3><%= "Welcome #{current_user.name}!" if current_user%></h3>
<br><%= link_to "Your Profile", user_path(current_user) if current_user %>
